.main-container{
    width: calc(100% - 200px);
    margin-top: 70px;
    margin-left: 200px;
    padding: 20px;
    transition: all 0.3s ease;
}
 .main-container-effect{
  width: calc(100% - 70px);
  margin-left:90px ;
  /* background: #000; */
}
.notes_list {
  height: 70px;
  background-color: rgba(52, 179, 252, 0.603);
  border-left: 5px solid darkblue;
  margin: 10px;
  position: relative;
}
.notes_list a {
  text-decoration: none;
}
.notes_list a span{
  padding: 20px;
  color: black;
  display: inline-block;
  font-size: 24px;
}
.container_body{
  margin-top: 10px;
}
.notes_list  .upload-btn
{
  height: 40px;
  position: absolute;
  right: 100px;
  bottom: 17px;
  border-radius: 50px;
  background: white;
  outline: none;
}
::-webkit-file-upload-button{
  background-color: rgb(34, 137, 255);
  color: white;
  border-radius: 50px;
  border: none;
  height: 40px;
  cursor: pointer;
}
.notes_list .btn{
  position: absolute;
  right: 10px;
  bottom: 20px;
}