
  @import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');

  *{
      list-style: none;
      text-decoration: none;
    }
  
  
    body
    {
      overflow-x: hidden;
        font-family: 'Andada Pro' ;
    }
    #create_container{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 400px;
        background:white;
        border-radius: 10px;
        padding: 0 40px;
        display: none;
        z-index: 2;
        border: 2px solid silver;
    }
    #create_container h5{
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom: 1px solid silver;
    }
    #class_name{
        width: 100%;
        padding: 0 5px;
        height: 60px;
        font-size: 16px;
        border: none;
        background:none;
        outline: none;
    }
    #create_class{
        position: fixed;
        /* margin: 20px 0px 0px 762px; */
        right: 0px;
        display: block;
        margin: 40px 43px;
        box-sizing: border-box;
    }
    .txt-field{
        position: relative;
        border-bottom: 2px solid silver;
        margin: 30px 0;
    }
    .txt-field input{
        width: 90%;
        padding: 0 5px;
        height: 40px;
        font-size: 16px;
        border: none;
        background:none;
        outline: none;
    }
    .txt-field label{
        position: absolute;
        top: 70%;
        left: 5px;
        color: silver;
        transform: translateY(-50%);
        font-size: 16px;
        transition: .5s;
    }
    .txt-field span::before{
        content: '';
        position: absolute;
        top: 50px;
        left: 0px;
        width: 100%;
        height: 20px;
        background-color: #2691d9;
    }
    .txt-field input:focus~label,.txt-field input:valid~label{
     top: -5px;
     color: #2691d9;
    
    }
    .txt-field input:focus~span~label,.txt-field input:focus~span~label
    {
        width: 100%;
    }
    #room-btn{
        margin: 0px 0px 10px 92px;
    }
    .main-container
    {
        width: calc(100% - 200px);
    
        margin-top: 70px;
        margin-left: 190px;
        padding: 20px;
        margin-right: 20px;
        transition: all 0.3s ease;
    }
    #class_list{
        display: flex;
        flex-direction: row;
        margin: 0px 20px 20px 0px ;
        flex-wrap: wrap;
        
    }
    .class{
        margin: 20px 20px;
    }
    .main-container-effect
    {
        width: calc(100% - 70px);
        margin-left:90px ;   
    } 
    
    #main .quote figure{
           background-color: #94DAFF;
           padding: 25px;
           border-radius: 10px;
           margin-bottom: 25px;
    }
    #main .quote figure blockquote p
    {
      font-size: 24px;
    }
    td
    {
        font-size: 16px ;
        padding: 10px ;
    }
    
    @media screen and (max-width: 767px) {
        #common-sidebar
        {
            display: none ;
        }
    }
    
    .class-card
    {
        margin-bottom: 25px;
    }
    
    .card-body a
    {
        margin-right: 15px ;
        margin-bottom: 10px ;
    }
    
    #ToDo-items li
    {
        cursor: pointer;
        padding: 12px 8px 12px 40px;
        list-style-type: none;
        background: #eee;
        font-size: 18px;
        transition: 0.2s;
    }
    
    #myUL li 
    {
        cursor: pointer;
        padding: 12px 8px 12px 40px;
        list-style-type: none;
        background: #DEF3FF;
        font-size: 18px;
        transition: 0.2s;
    }
    
    #myUL li:hover 
    {
    background: #88CBFF;
    }
    
    #myUL li.checked
    {
        background: #F0F7FC;
        text-decoration: line-through;
    }
    
    #myUL li.checked::before 
    {
        content: '';
        position: absolute;
        border-color: #fff;
        border-style: solid;
        border-width: 0 2px 2px 0;
        top: 10px;
        left: 16px;
        transform: rotate(45deg);
        height: 15px;
        width: 7px;
    }
    
    .close 
    {
        float: right;
        right: 0;
        top: 0;
        padding: 0 10px 0 10px ;
    }
    
    .close:hover 
    {
        color: rgb(128, 128, 128);
    }  
  
    .student-card{
        margin: 25px; 
        padding: 20px ; 
        background-color: rgb(187, 223, 239);
    }