@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');

body
{
    font-family: 'Andada Pro' ;
}

.container-fluid
{
    padding: 0px ;
}

.col-sm-6
{
    padding: 0px ;
    margin: 0px ;
}

.panel
{
    box-shadow: none ;
    vertical-align: middle ;
    align-content: center ;
    align-items: center ;
}

.login-img
{
    /* position: fixed; */
    background-image: url("../images/login.jpg") ;
    background-repeat: no-repeat ;
    height: 100vh ;
    background-size: cover ;
}

.btn
{
    background-color: rgb(74, 198, 255) ;
    color: #000 ;
    width: 100% ;
}

.form-form
{
    height: 100vh ;
    padding: 8% ;
}

.panel-footer
{
    border: none ;
    background: none ;
}

@media screen and (max-width: 768px) 
{
    .login-img { display: none ; }
    .signup-img { display: none ; }
    
}

@media screen and (min-width: 768px) {
    .panel-footer { padding: 0px ; }
}

.signup-img
{
    /* position: relative; */
    background-image: url("../images/signup.jpg") ;
    background-repeat: no-repeat ;
    height: 100vh ;
    background-size: cover ;
}


.form-group
{
    border: none ;
}

.form-placeholder::-webkit-input-placeholder {
    color: red
 }